<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="小说,罗生门">
    <meta name="description" content="精品小说阅读,罗生门">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>罗生门</title>
</head>
<link href="/static/css/layui.css" rel="stylesheet" />
<link href="/static/css/common.css" rel="stylesheet"/>
<body>
<div class="layui-fluid">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">PHP</a></li>
        <li class="layui-nav-item"><a href="">Objective-c</a></li>
        <li class="layui-nav-item"><a href="">IOS</a></li>
    </ul>
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-md-offset3">
            <div class="layui-col-md10">
                <div class="home_title">
                    <h1>罗生门</h1>
                    <div style="padding-top: 10px;">
                        <div>时值黄昏时分。罗生门下，有一家仆正在等待雨停。</div>
                        <div>除他之外，宽广的门楼下空无一人。只有一只蟋蟀在朱漆斑驳的粗大圆柱上住了脚。</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="/static/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
</body>
</html>