<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="objective中文文档,文档,objective,入门,进阶">
    <meta name="description" content="objective官方文档中文版,objective官方文档同步翻译">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>objective中文</title>
</head>
<link href="/static/css/layui.css" rel="stylesheet" />
<link href="/static/css/common.css" rel="stylesheet"/>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">objective 中文</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/">首页</a></li>
            <li class="layui-nav-item"><a href="">PHP</a></li>
            <li class="layui-nav-item"><a href="">IOS</a></li>
            <li class="layui-nav-item"><a href="">Objective-c</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">

        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">PHP文档</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">php标签</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">内容主体区域</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © www.dchour.cn
    </div>
</div>

<script src="/static/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>