<ul class="layui-nav layui-nav-tree"  lay-filter="test">
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">常用函数</a>
        <dl class="layui-nav-child">
            <dd><a href="/php/Fun/index.html">list</a></dd>
            <dd><a href="/php/Fun/dateTimeDisplay.html">日期时间处理</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item layui-nav-itemed">
        <a class="" href="javascript:;">常用方法</a>
        <dl class="layui-nav-child">
            <dd><a href="/php/Method/index.html">数组toXML</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a class="" href="javascript:;">设计模式</a>
        <dl class="layui-nav-child">
            <dd><a href="/php/M/singleton.html">单例模式</a></dd>
        </dl>
    </li>
</ul>