<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="php,ios,objective-c">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>php,ios,objective-c</title>
</head>
<link href="/static/css/layui.css" rel="stylesheet" />
<link href="/static/css/common.css" rel="stylesheet"/>
<body>
<div class="layui-fluid">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="">PHP</a></li>
        <li class="layui-nav-item"><a href="">Objective-c</a></li>
        <li class="layui-nav-item"><a href="">IOS</a></li>
    </ul>
    <div class="layui-row">
        <div class="message"><h1>网站筹建中</h1></div>
    </div>
</div>
<script src="/static/layui.js"></script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
</body>
</html>