<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="php日期时间,时间格式处理">
    <meta name="description" content="php官方文档中文版,php官方文档同步翻译">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>php日期时间处理</title>
</head>
<link href="/static/css/layui.css" rel="stylesheet" />
<link href="/static/css/common.css" rel="stylesheet"/>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">猿艺之PHP</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/index/Index/index.html">首页</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">

        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <{include file="public/menu"/}>
        </div>
    </div>

    <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
    <pre>
    <code>
        /**
         * 根据时间戳返回星期几
         * @param $time
         * @return mixed
         */
        function weekday_by_time($time)
        {
            $weekday = array('星期日','星期一','星期二','星期三','星期四','星期五','星期六');
            return $weekday[date('w', $time)];
        }

        function weekday_by_time_str($timeStr)
        {
            $time = strtotime($timeStr);
            return weekday_by_time($time);
        }
    </code>
    </pre>
    </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © www.dchour.cn
    </div>
</div>

<script src="/static/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>